doctype html
html
  head
    - filename = 'index'
    include includes/metadatas.pug
    include includes/styles.pug
  body
    h1 hello pug!
    div.box
      div.item item!
    include includes/scripts.pug
    