doctype html
html
  head
    - filename = 'login'
    include includes/metadatas.pug
    include includes/styles.pug
  body
    div.container
      div.row
        div.card.col.s12.m6.offset-m3
          div.card-image.center-align
            h3 LKTALK
            i.material-icons.large.pink-text people
          div.card-content
            span.card-title.center Login
            form(method='post' action='')
              div.input-field
                i.material-icons.prefix account_circle
                input.validate#username(name='username' type='text')
                label(for='username') Username
              div.input-field.tooltipped(data-position='bottom' data-tooltip='준비중입니다.')
                i.material-icons.prefix lock
                input.validate#password(name='password' type='password' disabled)
                label(for='password') Password
              div.buttons.right-align
                button.btn.pink login
          
    include includes/scripts.pug
    