doctype html
html
  head
    - filename = 'chat'
    include includes/metadatas.pug
    include includes/styles.pug
  body
    div.ui.middle.aligned.center.aligned.grid
      div.column
        div.ui.segment
          h1 LKTALK
        div#feed.ui.feed
          //- each val in [1, 2, 3]
          //-   div.event
          //-     div.label
          //-       i.user.circle.icon
          //-     div.content
          //-       div.date 1 Hour Ago
          //-       div.summary userName
          //-       div.extra.text
          //-         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga rem ratione eaque quisquam odio quas facilis architecto vel suscipit, aliquam nihil laborum, sapiente possimus autem. Aperiam, officiis! Dolores, voluptatum tempore.
        form.ui.form
          div.ui.action.input.fluid
            input#message(type='text' placeholder='message...' autocomplete='off')
            button#send.ui.button Send

      
    include includes/scripts.pug