doctype html
html
  head
    - filename = 'login'
    include includes/metadatas.pug
    include includes/styles.pug
  body
    div.ui.middle.aligned.center.aligned.grid
      div.column
        div.ui.stacked.segment
          h1 
            i.big.wechat.icon
            p LKTALK
          form.ui.large.form(method='post' action='')
            div.field
              div.ui.left.icon.input
                i.user.icon
                input(type='text' name='username' placeholder='username' autocomplete='off')
            div.field
              div.ui.left.icon.input
                i.lock.icon
                input(disabled type='password' name='password' placeholder='password')
            button.ui.button.fluid.teal login
            div.ui.error.message
          
    include includes/scripts.pug
    