html, body
  height: -webkit-fill-available

.container
  height: 100%

.flexable
  display: flex
  flex-direction: column
  height: -webkit-fill-available

.content
  flex: 1
  overflow-y: scroll
  -ms-overflow-style: none
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none

#deliver
  border-top: 1px solid #ddd
  display: flex
  align-items: center

.profile
  display: flex
  align-items: flex-end
  border-bottom: 1px solid #ddd
  // padding-bottom: .5rem
  i
    margin-right: 1rem
  .username
    flex: 1

.card-panel
  position: relative
  overflow: hidden
  padding: 1rem

.timestamp
  position: absolute
  top: 1rem
  right: -2.5rem
  transform: rotateZ(45deg)
  transform-origin: center
  padding: 0 3rem
