html, body
  height: -webkit-fill-available

.container
  height: 100%

.flexable
  display: flex
  flex-direction: column
  height: -webkit-fill-available

.content
  flex: 1
  overflow: scroll

#deliver
  border-top: 1px solid #ddd
  display: flex
  align-items: center

.profile
  display: flex
  align-items: flex-end
  border-bottom: 1px solid #ddd
  padding-bottom: .5rem
  i
    margin-right: 1rem
  .username
    flex: 1